<div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2 side-menu">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link" id="pracownicy" data-toggle="pill" routerLink="/pracownicy-lista" role="tab">Pracownicy</a>
          <a class="nav-link active" id="wolontariusze" data-toggle="pill" routerLink="/wolontariusze-lista" role="tab">Wolontariusze</a>
        </div>
      </div>
      <div class="col-sm-10 content-table" style="padding-right: 2%; padding-top: 2%; padding-bottom: 2%">
        <h3 class="table-header">Lista wolontariuszy</h3>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th scope="col">Imię</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Stanowisko</th>
            <th scope="col">PESEL</th>
            <th scope="col">NIP</th>
            <th scope="col">Data zatrudnienia</th>
            <th scope="col">Status</th>
            <th scope="col">Akcje</th>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
