<div>
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
      <a class="nav-link" routerLink="">Strona główna</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">Administracja</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/pracownicy-lista">Pracownicy</a>
        <a class="dropdown-item">Finanse</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link"routerLink="">Baza zwierząt</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="">Zarządzanie stroną</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
